
.sheepimg {
  width: 200px;
  padding-top: 20vw;
  padding-left: 15vw;
  overflow: hidden;
}

.zoom-sheep {
  width: 30%;
  transition: transform 0.3s ease;
  cursor: pointer;
  transform-origin: center bottom;
}

.zoom-sheep:hover {
  transform: scale(1.05);
}

.zoom-sheep:active {
  transform: scale(0.95);
}

.farm {
    background-image: url("https://i.pinimg.com/736x/8b/98/f6/8b98f650ade5eb2d95213c94d0018012.jpg");
    position: fixed;
    left: 15; 
    width: 50vw; 
    height: 100vh; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1
}

.shop {
    position: fixed;
    left: 55vw; 
    width: 50vw; 
    height: 100vh;  
    z-index: -1;
    font-size: x-large;
}

#greeting {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th, td {
  border: 1px solid white;
  padding:10px;
}